/* Variebles */
$font-poppins-sans: var(--font-poppins);

$color-text: #f0f7f7;
$color-background: black;
$color-white: #fff;
$color-neutral-400: #c6cdcc;

/* Global Styles */
body {
  font-family: $font-poppins-sans, sans-serif;
  background-color: $color-background;
  color: $color-text;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
